services:
  - type: web
    name: telegram-referral-bot
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: "5432"
      - key: DB_NAME
        value: "postgres"
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: BOT_USERNAME
        sync: false
      - key: WEBHOOK_URL
        sync: false
